.navbar {
    img {
        width: 29px;
        margin-left: 45px;
    }
    &__container {
        float: left;
        ul {
            display: inline-block;
            font-family: $pt-mono;
            font-size: $medium;
        }
        li {
            float: left;
            padding-right: 10px;
            margin-left: 50px;
        }
    }
}


