.navbar {
    img {
        width: 1.8125rem;
        margin-left: 2.8125rem;
    }
    &__container {
        float: left;
        ul {
            display: inline-block;
            font-family: $pt-mono;
            font-size: $medium;
        }
        li {
            float: left;
            padding-right: 0.625rem;
            margin-left: 3.125rem;
        }
    }
}


