.main {
  width: 100vw;
  height: 100vh;
  border: 2px solid black;
  position: relative;
  box-sizing: border-box;

  &__image-1 {
    width: 56.1875rem;
    height: 27.5rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &__container-2 {
    width: 23.8125rem;
    height: 44rem;
    float: right;
    border: 2px solid black;
    position: relative;
  }

  &__image-2 {
    margin: 0;
    position: absolute;
    bottom: 0;
    img {
      width: 23.8125rem;
      height: 16.5rem;
    }
  }
  &__text-2 {
    width: 23.8125rem;
    height: 27.5rem;
    font-family: "PT Mono", sans-serif;
    position: absolute;
    top: 0;
    border: 2px solid black;
    background-color: #fff;
    padding-top: 3rem;
    padding-right: 4rem;
    padding-left: 4rem;
    font-size: 4.375rem;
    h4 {
      margin-top: 0.75rem;
    }
  }

  &__square-yellow {
    width: 8.4375rem;
    height: 8.5rem;
    background-color: #eacb31;
    position: absolute;
    left: 0;
    bottom: 0px;
  }

  &__square-orange {
    width: 8.4375rem;
    height: 8.5rem;
    background-color: #e4572e;
    position: absolute;
    left: -0.9375rem;
    bottom: 1.25rem;
    z-index: 3;
  }

  &__container-3 {
    width: 29.3125rem;
    height: 23rem;
    float: right;
    border: 2px solid blue;
    position: relative;
    top: 19.0625rem;
    z-index: 2;
  }

  &__rectangle {
    width: 29.3125rem;
    height: 14.5rem;
    position: absolute;
    bottom: 0;
    background-color: $blue-de-france;
  }

  &__text-3 {
    width: 29.3125rem;
    height: 9.125rem;
    background-color: #eeeded;
  }

  &__image-3 {
    width: 26.875rem;
    height: 13.125rem;
    position: relative;
    right: 2.1875rem;
    top: 1.25rem;
    z-index: 1;
  }

  &__image-4 {
    height: 10.3125rem;
    width: 6rem;
    position: absolute;
    right: -3.125rem;
    z-index: 2;
  }
  &__container-4 {
    position: absolute;
    bottom: 4.375rem;
    left: 4.0625rem;
    font-family: $pt-mono;
    h3 {
      margin-bottom: 0.9375rem;
    }
    p {
      width: 18.25rem;
      height: 6rem;
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

.col-content {
  float: left;
  position: absolute;
  top: 0.625rem;
  left: 0;
}

.columna-1 {
  float: left;
  padding-left: 1.875rem;
  position: relative;
  left: 1.25rem;
}

.columna-2 {
  float: left;
  padding-left: 1.0625rem;
  padding-right: 1.9375;
}

.columna-3 {
  float: left;
  padding-right: 0.875rem;
  position: relative;
  right: 2.1875rem;
}
